<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item"><span>Admin: </span><%= @admin.id %></li>
          <li class="nav-item">
            <%= link_to super_admin_users_path, class: "nav-link" do %>
              <span data-feather="users"></span>
              Users
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to super_admin_events_path, class: "nav-link" do %>
              <span data-feather="book-open"></span>
              Events
            <% end %>
          </li>             
          <li class="nav-item">
            <%= link_to super_admin_event_submissions_path, class: "nav-link" do %>
              <span data-feather="check-circle"></span>
              Events to valid
            <% end %>
          </li>
        </ul>
      </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Could render partials here!</h1>
      </div>
    </main>
  </div>
</div>
