<%= render "layouts/banner" %>

<section class="slice sct-color-1">
    <div class="container container-sm">
        <div class="row masonry">
          <% @events.each do |event| %>
            <%= render 'card', event: event %>
          <% end %>
        </div>
    </div>
</section>
