/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap/css/bootstrap.min
 *= require swiper/css/swiper.min
 *= require hamburgers/hamburgers.min
 *= require animate/animate.min
 *= require fancybox/css/jquery.fancybox.min
 *= require bootstrap/css/boomerang-startup-classic.min
 *= require bootstrap/css/custom-style
 *= require bootstrap/css/dashboard
 *= require fonts/ionicons.min.css
 *= require fonts/line-icons.css
 *= require fonts/line-icons-pro.css

 *= require fonts/arrows/linea-icons.css
 *= require fonts/basic/linea-icons.css
 *= require fonts/ecommerce/linea-icons.css
 *= require fonts/software/linea-icons.css

 *= require boomerang.min
 */

html {
	scroll-behavior: smooth;
}

#section_background {
	background-image: url("background/slider/img-49.jpg");
}

.eventbrite-color {
	color: #f05537;
}