<section class="slice--offset-top parallax-section parallax-section-lg" style="background-image: url(<%= asset_path 'banner.jpg' %>);">

    <div class="mask bg-dark alpha-7"></div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="py-5 text-center">
                    <h1 class="heading heading-xl c-white strong-600 text-normal">
                        Getting Bored ?
                    </h1>

                    <span class="clearfix"></span>

                    <div class="fluid-paragraph fluid-paragraph-sm text-center">
                        <p class="lead line-height-1_8 c-white strong-300">The city is your Sandbox</p>
                    </div>

                    <span class="space-xs-lg"></span>

                    <div class="btn-container">
                        <a href="#events" class="btn btn-styled btn-white">Start</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>